<!doctype html>
<html>
<head>
	<title>Getting Started with BreweryDB API</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>
<body>
    <br>
    <a href="/">INTRODUCTION</a> | <a href="/tools">TOOLS</a> | <a href="/server">SERVER SETUP</a> | <a href="/request">THE REQUEST</a> | <a href="/result">THE RESULTS</a>
    <h2>Getting Started with the BreweryDB API</h2>
	{{{body}}}
    <div class="footer"><p><strong>Created by David Gluckman for CS 290 Section 400 Fall 2016</strong></p><p>This product uses the BreweryDB API but is not endorsed or certified by PintLabs.</p></div>
</body>
</html>